---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Nem található">
  <div>
    <p>A lap nem található.</p>
    <a href="/">Szeremlei Néptáncegyüttes</a>
  </div>
</Layout>

<style>

</style>
