---
---

<footer>
  <div class="footer-text">
    <div>design és weblap: © 2022 Szarvas Péter&nbsp;-&nbsp;</div>
    <div>
      <a href="https://peterszarvas.hu" target="_blank" rel="noopener noreferrer">peterszarvas.hu</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background: #cf8780;
    width: 100%;
    height: 5rem;
    color: white;
    display: grid;
    place-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: .9rem;
  }

  .footer-text {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
