---
import FacebookIcon from "../FacebookIcon.astro";
import PrimaryButton from "../PrimaryButton.astro";
---

<div class="home-contact">
  <p>Érdekel a néptánctanulás? Szeretnél meghívni minket? Kérdezz bátran!</p>
  <div>
    <div class="links">
      <PrimaryButton url={"/kapcsolat"} text="Kapcsolat" />
      <a href="https://www.facebook.com/neptancegyuttes.szeremlei" target="_blank" rel="noopener noreferrer">
        <FacebookIcon className={"home-facebook-button"} />
      </a>
    </div>
  </div>
</div>

<style>
  .home-contact {
    width: 100%;
    background: white;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    margin-top: 2rem;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  .links {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    padding-top: 1rem;
  }

  a {
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    background-color: #b5584f;
    border: 0.1rem solid #b5584f;
    border-radius: 10rem;
  }

  a:hover {
    box-shadow: 0.1rem 0.1rem 0rem 0rem #b5584f;
    color: #b5584f;
    background: white;
    transition: 0.1s;
  }

  a:hover svg {
    fill: #b5584f;
    background: white;
    transition: 0.1s;
  }

  a:active {
    box-shadow: -0.1rem -0.1rem 0rem 0rem #b5584f;
    transform: translate(0.1rem, 0.1rem);
    transition: 0.1s;
  }
</style>
