---
import MenuIcon from "../MenuIcon.astro";
import MobileMenuOverlay from "../MobileMenuOverlay.astro";
---

<>
  <button class="home-menu-btn" id="home-menu-btn">
    <MenuIcon />
  </button>

  <MobileMenuOverlay />
</>

<script>
  const openButton = document.getElementById("home-menu-btn");
  const container = document.getElementById("nav-mobile-container");

  openButton?.addEventListener("click", () => {
    container?.classList.add("nav-mobile-active");
  });
</script>

<style>
  .home-menu-btn {
    display: none;
    padding: 0;
    background: none;
    border: 0;
    color: white;
    position: absolute;
    left: 50%;
    top: 17rem;
    transform: translate(-50%, 0%);
  }

  @media screen and (max-width: 768px) {
    .home-menu-btn {
      display: block;
    }
  }

  @media screen and (max-width: 480px) {
    .home-menu-btn {
      top: 9.5rem;
    }
  }

  @media screen and (max-width: 360px) {
    .home-menu-btn {
      top: 5rem;
    }
  }
</style>
