---
import { getMenu } from "../../api/menu";
import CloseIcon from "../CloseIcon.astro";
import MenuIcon from "../MenuIcon.astro";

const menu = await getMenu();
---

<>
  <div class="home-navbar-mobile-open" id="home-navbar-mobile-open">
    <MenuIcon />
  </div>

  <div class="home-navbar-mobile-container" id="home-navbar-mobile-container">
    <div class="home-navbar-mobile-close" id="home-navbar-mobile-close">
      <CloseIcon />
    </div>

    <nav class="home-navbar-mobile">
      <ul>
        {
          menu.map((item) => {
            return (
              <li>
                <a href={`/${item.slug}`}>{item.title}</a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</>

<script>
  const openButton = document.getElementById("home-navbar-mobile-open");
  const closeButton = document.getElementById("home-navbar-mobile-close");
  const container = document.getElementById("home-navbar-mobile-container");

  openButton?.addEventListener("click", () => {
    container?.classList.add("home-navbar-mobile-container-active");
  });

  closeButton?.addEventListener("click", () => {
    container?.classList.remove("home-navbar-mobile-container-active");
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth > 768) {
      container?.classList.remove("home-navbar-mobile-container-active");
    }
  });
</script>

<style>
  .home-navbar-mobile-open {
    display: none;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;

    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 2rem;
    top: 18rem;
  }

  .home-navbar-mobile-container {
    position: fixed;
    top: 20rem;
    left: 50%;
    width: 0;
    height: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    clip-path: inset(0 0 100% 0);
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(7px);
  }

  .home-navbar-mobile-container-active {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: inset(0 0 0 0);
  }

  .home-navbar-mobile-container-active {
    overflow: hidden;
  }

  .home-navbar-mobile-container ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .home-navbar-mobile-close {
    width: fit-content;
    margin: 20% auto 0 auto;
    padding: 1rem;
  }

  .home-navbar-mobile-close svg {
    filter: drop-shadow(0.1rem 0.1rem 0.3rem black);
  }

  .home-navbar-mobile ul {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .home-navbar-mobile a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0.3rem black;
  }

  @media screen and (max-width: 768px) {
    .home-navbar-mobile-open {
      display: block;
    }
  }

  @media screen and (max-width: 480px) {
    .home-navbar-mobile-open {
      top: 10rem;
    }
  }

  @media screen and (max-width: 360px) {
    .home-navbar-mobile-open {
      top: 5.5rem;
    }
  }
</style>
