---
import { getMainPage } from "../../api/mainPage";
import PrimaryButton from "../PrimaryButton.astro";

const mainPage = await getMainPage();
---

<main class="sample">
  <div class="sample-rect">
    <div class="sample-title">{mainPage.title.rendered}</div>
    <div class="sample-excerpt" set:html={mainPage.excerpt.rendered} />
    <PrimaryButton url={`/${mainPage.slug}`} text="Bővebben" />
  </div>
</main>

<style is:global>
  .sample {
    display: block;
    height: fit-content;
    position: relative;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

  .sample-rect {
    margin: -2rem auto 2rem auto;
    width: calc(100% - 2 * var(--sample-rect-padding));
    max-width: 1000px;
    height: fit-content;
    padding: 3rem var(--sample-rect-padding);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  .sample-title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .sample-excerpt {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding-bottom: 1rem;
  }

  /* .sample-excerpt a {
    display: none;
  } */

  @media screen and (max-width: 768px) {
    .sample {
      width: calc(100% - 2rem);
    }

    .sample-rect {
      padding: 2rem var(--sample-rect-padding);
    }

    .sample-title {
      font-size: 1.7rem;
      padding-bottom: 1rem;
    }

    .sample-excerpt {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    .sample-rect {
      padding: 1rem var(--sample-rect-padding);
    }

    .sample-title {
      font-size: 1.5rem;
      padding-bottom: 0.6rem;
    }
  }

  @media screen and (max-width: 360px) {
    .sample-title {
      font-size: 1.3rem;
      padding-bottom: 0.5rem;
    }
  }
</style>
