---
---

<footer>
  <div class="footer-text">
    <div>Minden jog fenntartva © 2022 Szeremlei Néptáncegyüttes Egyesület</div>
    <div>
      <span>design és weblap: Szarvas Péter -</span>
      <a href="https://peterszarvas.hu" target="_blank" rel="noopener noreferrer">peterszarvas.hu</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background: #cf8780;
    width: 100%;
    height: var(--footer-height);
    color: white;
    display: grid !important;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
  }

  .footer-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 0.5rem 0;
    width: fit-content;
    margin: 0 auto;
  }

  div:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
