---
import { getMenu } from "../api/menu";
import type { Node } from "../types/Node";

interface Props {
  node: Node;
}

const { node }: Props = Astro.props;
const menu = await getMenu();
let isPageForPosts: boolean = false;

if (node?.menu_order === 100) {
  isPageForPosts = true;
}
---

<header class={isPageForPosts ? "lowheight" : ""}>
  <div class="grid">
    <div class="logo">
      <a href="/">Szeremlei Néptáncegyüttes</a>
    </div>
    <div class="menu">
      <nav class="node-navbar-desktop">
        <ul>
          {
            menu.map((item) => {
              let styled: boolean = false;

              if (item.slug === node?.slug) {
                styled = true;
              }

              return (
                <li>
                  <a href={`/${item.slug}`} class={styled ? "styled" : null}>
                    {item.title}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    background: #b5584f;
    height: var(--header-height);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .lowheight {
    height: var(--posts-header-height);
  }

  a {
    color: white;
    text-decoration: none;
  }

  .grid {
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    height: 100%;
  }

  .logo {
    font-family: "Imperial Script", cursive;
    font-size: 2.5em;
    height: 100%;
    display: grid;
    align-items: flex-start;
    justify-items: start;
    padding-top: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .menu {
    height: 100%;
    display: grid;
    align-items: flex-start;
    justify-items: end;
    padding-top: 0.8rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    width: fit-content;
  }

  nav li {
    display: inline-block;
    margin-left: 1em;
  }

  .styled {
    border-bottom: 1px solid white;
  }

  @media (max-width: 1000px) {
    .menu {
      display: none;
    }
  }
</style>
