---
import { getMenu } from "../api/menu";
import type { Node } from "../types/Node";
import MenuIcon from "./icons/MenuIcon.astro";
import SearchIcon from "./icons/SearchIcon.astro";

interface Props {
  node?: Node | null;
  className?: "lowheight";
}

const { node, className }: Props = Astro.props;
const menu = await getMenu();
---

<header class={`${className}`}>
  <div class="grid">
    <div class="logo">
      <a href="/">Szeremlei Néptáncegyüttes</a>
    </div>

    <div class="nav-search">
      <button id="nav-search-btn">
        <SearchIcon />
      </button>
    </div>

    <div class="menu">
      <nav class="node-navbar-desktop">
        <ul>
          {
            menu &&
              menu.map((item) => {
                let styled: boolean = false;

                if (item.slug === node?.slug) {
                  styled = true;
                }

                return (
                  <li>
                    <a href={`/${item.slug}`} class={styled ? "styled" : null}>
                      {item.title}
                    </a>
                  </li>
                );
              })
          }
        </ul>
      </nav>
    </div>

    <div class="menu-btn-cont">
      <button id="menu-btn"> <MenuIcon /></button>
    </div>
  </div>
</header>

<script>
  const openButton = document.getElementById("menu-btn");
  const container = document.getElementById("nav-mobile-container");

  openButton?.addEventListener("click", () => {
    container?.classList.add("nav-mobile-active");
  });

  const searchBtn = document.getElementById("nav-search-btn");
  const searchOverlay = document.getElementById("search-overlay");
  const searchInput = document.getElementById("search-input");

  searchBtn?.addEventListener("click", () => {
    searchOverlay?.classList.add("show-search-overlay");
    searchInput?.focus();
  });
</script>

<style is:global>
  header {
    width: 100%;
    background: #b5584f;
    height: var(--header-height);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .lowheight {
    height: var(--posts-header-height);
  }

  header a {
    color: white;
    text-decoration: none;
  }

  .grid {
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto 1.3rem min-content;
    gap: 1em;
    height: 100%;
    text-shadow: 2px 2px 4px #000000;
  }

  .logo {
    font-family: "Imperial Script", cursive;
    font-size: 2.5em;
    display: grid;
    align-items: center;
    justify-items: start;
    height: var(--posts-header-height);
  }

  .lowheight .logo {
    height: auto;
  }

  .menu {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: end;
    height: var(--posts-header-height);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    width: fit-content;
    display: flex;
  }

  .menu li {
    display: inline-block;
    display: block;
    margin-left: 1em;
  }

  .styled {
    border-bottom: 1px solid white;
  }

  .nav-search {
    display: grid;
    place-items: center;
    height: var(--posts-header-height);
  }

  .nav-search button {
    display: block;
    padding: 0;
    border: 0;
    background: 0;
  }

  .nav-search svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke: white;
    filter: drop-shadow(2px 2px 4px #000000);
  }

  .menu-btn-cont {
    display: none;
    align-items: center;
    justify-items: end;
    height: calc(100% + var(--node-margin-top));
  }

  .lowheight .menu-btn-cont {
    height: var(--posts-header-height);
  }

  .menu-btn-cont button {
    padding: 0;
    background: none;
    border: 0;
    color: white;
    width: 2rem;
    height: 2rem;
  }

  @media (max-width: 1000px) {
    .menu {
      display: none;
    }

    .menu-btn-cont {
      display: grid;
    }
  }

  @media (max-width: 450px) {
    .logo {
      font-size: 2em;
    }
  }

  @media (max-width: 270px) {
    .logo {
      font-size: 1.5em;
    }
  }
</style>
