---
import { getMenu } from "../api/menu";
import type { Node } from "../types/Node";
import MenuIcon from "./MenuIcon.astro";
import MobileMenuOverlay from "./MobileMenuOverlay.astro";

interface Props {
  node?: Node;
}

const { node }: Props = Astro.props;
const menu = await getMenu();
let isPageForPosts: boolean = false;

if (node?.type === "page" && node.menu_order === 100) {
  isPageForPosts = true;
}
---

<header class={isPageForPosts ? "lowheight" : ""}>
  <div class="grid">
    <div class="logo">
      <a href="/">Szeremlei Néptáncegyüttes</a>
    </div>
    <div class="menu">
      <nav class="node-navbar-desktop">
        <ul>
          {
            menu &&
              menu.map((item) => {
                let styled: boolean = false;

                if (item.slug === node?.slug) {
                  styled = true;
                }

                return (
                  <li>
                    <a href={`/${item.slug}`} class={styled ? "styled" : null}>
                      {item.title}
                    </a>
                  </li>
                );
              })
          }
        </ul>
      </nav>
    </div>

    <div class="menu-btn-cont">
      <button id="menu-btn"> <MenuIcon /></button>
    </div>

    <MobileMenuOverlay />
  </div>
</header>

<script>
  const openButton = document.getElementById("menu-btn");
  const container = document.getElementById("nav-mobile-container");

  openButton?.addEventListener("click", () => {
    container?.classList.add("nav-mobile-active");
  });
</script>

<style is:global>
  header {
    width: 100%;
    background: #b5584f;
    height: var(--header-height);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .lowheight {
    height: var(--posts-header-height);
  }

  header a {
    color: white;
    text-decoration: none;
  }

  .grid {
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    height: 100%;
  }

  .logo {
    font-family: "Imperial Script", cursive;
    font-size: 2.5em;
    display: grid;
    align-items: center;
    justify-items: start;
    text-shadow: 2px 2px 4px #000000;
    height: calc(100% + var(--node-margin-top));
  }

  .menu {
    height: 100%;
    display: grid;
    align-items: flex-start;
    justify-items: end;
    padding-top: 0.8rem;
    text-shadow: 2px 2px 4px #000000;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    width: fit-content;
  }

  .menu li {
    display: inline-block;
    margin-left: 1em;
  }

  .styled {
    border-bottom: 1px solid white;
  }

  .menu-btn-cont {
    display: none;
    align-items: center;
    justify-items: end;
    height: calc(100% + var(--node-margin-top));
  }

  .lowheight .menu-btn-cont {
    height: var(--posts-header-height);
  }

  .menu-btn-cont button {
    padding: 0;
    background: none;
    border: 0;
    color: white;
    width: 2rem;
    height: 2rem;
  }

  @media (max-width: 1000px) {
    .menu {
      display: none;
    }

    .menu-btn-cont {
      display: grid;
    }
  }

  @media (max-width: 400px) {
    .logo {
      font-size: 2em;
    }
  }
</style>
