---
import type { Page } from "../types/Page";
import type { MenuItem } from "../types/MenuItem";

interface Props {
  menu: MenuItem[];
}

const { menu } = Astro.props;
---

<ul>
  {
    menu.map((item: MenuItem) => {
      return (
        <li>
          <a href={`/${item.slug}`}>{item.title}</a>
        </li>
      );
    })
  }
</ul>
