---
import type { Node } from "../types/Node";
import NodeNavbar from "./node/NodeNavbar.astro";

interface Props {
  node: Node;
}

const { node }: Props = Astro.props;
---

<article>
  <NodeNavbar node={node} />
  <h1>{node?.title?.rendered}</h1>
  <div class="content" set:html={node?.content?.rendered} />
</article>
