---
interface Props {
  url: string;
  text: string;
}

const { url, text } = Astro.props;
---

<a href={url}>
  <div>{text}</div>
</a>

<style>
  a {
    width: fit-content;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    background-color: #b5584f;
    font-family: "Open Sans", sans-serif;
    border-radius: 10rem;
    display: grid;
    align-items: center;
    text-decoration: none;
    appearance: button;
    color: white;
    border: 0.1rem solid #b5584f;
  }

  a:hover {
    box-shadow: 0.1rem 0.1rem 0rem 0rem #b5584f;
    color: #b5584f;
    background: white;
    transition: 0.1s;
  }

  a:active {
    box-shadow: -0.1rem -0.1rem 0rem 0rem #b5584f;
    transform: translate(0.1rem, 0.1rem);
    transition: 0.1s;
  }
</style>
