---
//This is the layout for the entire site

import "normalize-css/normalize.css";
import CloseButton from "../components/CloseButton.astro";
import MobileMenuOverlay from "../components/MobileMenuOverlay.astro";
import SearchBarOverlay from "../components/SearchBarOverlay.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A Szeremlei Néptáncegyüttes 1927 óta folyamatosan járja a Sárköz és Nagy-Magyarország táncait."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- ELEMENTS HERE -->
    <slot />
    <div class="hidden-overlay hide" id="hidden-overlay">
      <CloseButton id="close-hidden-overlay" className="hidden-overlay-button" />
      <img id="hidden-image" class="hidden-image" src="" />
    </div>

    <MobileMenuOverlay />
    <SearchBarOverlay />
  </body>
</html>

<script>
  const hiddenOverlay = document.getElementById("hidden-overlay");
  const closeHiddenOverlay = document.getElementById("close-hidden-overlay");

  closeHiddenOverlay?.addEventListener("click", () => {
    hiddenOverlay?.classList.remove("show");
  });
</script>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  * {
    /* outline: 1px solid rgba(255, 0, 0, 0.5); */
  }

  body {
    overflow-x: hidden;
    background-color: #e8e8e8;
    --cover-height: 35rem;
    --home-navbar-width: 90%;
    --mainpage-rect-padding: 4rem;
    --mainpage-rect-top: 30rem;
    --header-height: 8rem;
    --footer-height: 5rem;
    --node-margin-top: -3rem;
    --posts-header-height: 5rem;
    --vh: 100vh;
    --vh: 100dvh;
  }

  .hidden-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto;
    align-items: flex-start;
    justify-items: center;
    gap: 1rem;
    z-index: 1;

    clip-path: inset(0 0 100% 0);
    transition: 0.3s ease-in-out;
  }

  .hidden-overlay-button {
    margin-top: 1.5rem;
  }

  .hidden-image {
    max-width: 1000px;
    width: 100%;
    max-height: 700px;
    object-fit: contain;
  }

  .show {
    clip-path: inset(0 0 0 0);
  }

  @media screen and (max-width: 768px) {
    body {
      --cover-height: 23rem;
      --mainpage-rect-padding: 2rem;
    }
  }

  @media screen and (max-width: 480px) {
    body {
      --cover-height: 15rem;
      --mainpage-rect-padding: 1rem;
    }
  }

  @media screen and (max-width: 360px) {
    body {
      --cover-height: 10rem;
    }
  }
</style>
