---
//This is the layout for the entire site

import "normalize-css/normalize.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="A Szeremlei Néptáncegyüttes 1927 óta folyamatosan járja a Sárköz és Nagy-Magyarország táncait." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- ELEMENTS HERE -->
    <slot />
  </body>
</html>

<style is:global>
  /*---
	GLOBAL
	---*/

  @import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  body {
    overflow-x: hidden;
    background-color: #e8e8e8;
    --cover-height: 35rem;
    --home-navbar-width: 90%;
    --sample-rect-padding: 4rem;
    --sample-rect-top: 30rem;
    --header-height: 8rem;
    --footer-height: 5rem;
    --node-margin-top: -3rem;
    --posts-header-height: 5rem;
  }

  /*---
	MEDIA QUERIES
	---*/

  @media screen and (max-width: 768px) {
    body {
      --cover-height: 23rem;
      --sample-rect-padding: 2rem;
    }
  }

  @media screen and (max-width: 480px) {
    body {
      --cover-height: 15rem;
      --sample-rect-padding: 1rem;
    }
  }

  @media screen and (max-width: 360px) {
    body {
      --cover-height: 10rem;
    }
  }
</style>
